.cards {
  display: flex;
  flex-wrap: wrap;

  & > * {
    margin-bottom: 1rem;
    margin-right: 1rem;
  }
  & > *:last-child {
    margin-right: 0;
  }
}

.title {
  font-weight: bold;
  padding: 1rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}
